@page
@model IndexModel
@{
    ViewData["Title"] = "Ban Blob Blog";
    ViewData["CatCaption"] = "It's PangurBan!!!";
 }

<div class="text-center">
    <h1 class="display-4">Hello Kitty!</h1>
    <p>The time is @DateTime.Now</p>
    <p>Feeling stressed? Tired? Anxious? Check out this sweet blob to cheer you up</p>
    <img src="images/PangurBan1.jpg" alt="Cute cat 1"/>
    <p>@Model.ViewData["CatCaption"]</p>
</div>
