@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">And again! again</h1>
    <p>You just updated your website! 11-10-2022 9:12am</p>
</div>
