@page
@model IndexModel
@{
    ViewData["Title"] = "Ban Blob Blog";
    ViewData["CatCaption"] = "It's PangurBan!!!";
}

<div class="text-center">
    <h1 class="display-4">Feeling stressed? Tired? Anxious?</h1>
    <p>Check out this sweet blob to cheer you up</p>
    <img src="/images/PB2.jpg" alt="Cute cat!" class="img-fluid rounded-circle" />
    <p>@Model.ViewData["CatCaption"]</p>
</div>
