@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Once again, Lovely CI process!</h1>
    <p>You just updated your website! 11-30-2022 10:34am</p>
</div>
